body {
    background-image: url("https://cloud-kc47qjs13-hack-club-bot.vercel.app/0image.png");
}

.maintext{
    background-color: #BF8445;
}

h1 {
    background-color: #9a612b;
}

li {
    opacity: 100%;
}

.info {
    opacity: 25%;
}

html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

/* thank you stackoverflow <3 */